[user]
	name = Alf Lervag
	email = alf.lervag@bouvet.no
[alias]
	di = diff
	ci = commit
	co = checkout
	st = status
        serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[core]
	pager = cat
	excludesfile = /Users/alf/.gitglobalignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
